.container-fluid {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    flex: 1;
}

header {
    padding: 3px;
    border-bottom: 1px solid #333;
}

#wrapper {
    position: relative;
    overflow: scroll;
    flex: 1;
}

.sidebar {
    width: 200px;
}

.sidebar>.list-group-flush {
    padding: 0;
}

#wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}