.container-fluid {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

#wrapper {
    position: relative;
    overflow: scroll;
    flex: 1;
}

.sidebar {
    width: 200px;
}

#wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}