#container {
    background: #999;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: auto 240px;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header header" "main sidebar"
}

.box {
    background: #FEFEFE
}

#main {
    grid-area: main;
    overflow: scroll;
    position: relative;
}

#header {
    grid-area: header;
    padding: 5px;
}

#sidebar {
    grid-area: sidebar;
}

#sidebar>.list-group-flush {
    padding: 0;
}

#main>canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#video {
    max-height: 100%;
    max-width: 100%;
}